.layout {
  height: calc(100vh - 130px);
}

.card {
  max-width: 275px;
}

.img-sm {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.rounded-15 {
  border-radius: 15px;
}

.img-lg {
  width: 460px;
  height: 400px;
  border-radius: 15px;
}