.layout {
  height: calc(100vh - 130px);
}

.card {
  max-width: 275px;
}
.img-md {
  height: 196px;
}

.img-sm {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.img-lg {
  /* max-width: 460px;
  max-height: 400px; */
  border-radius: 15px;
}

.btn {
  width: 206px;
}

.btn-md {
  width: 330px;
}

.w-30p {
  width: 30px;
}

.w-103 {
  width: 103px;
}

.white {
  background: #fff;
}

